<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee manager</title>
</head>
<body>
    <ul>
        <li><a href="{%url 'home' %}">Home</a>.</li>
        <li><a href="{%url 'employees.index' %}">Employees</a>.</li>
    </ul>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for employees in object_list %}
            <tr>
                <td>{{ employees.full_name }}</td>
                <td>{{ employees.email }}</td>
                <td>{{ employees.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>